.rss-monitor-box {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    width: 95%;
    height: 95%;
    margin: auto;
}
.rss-monitor-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ef4023;
    padding: 10px 0;
    height: 5%;
    min-height: 34px;
    margin-bottom: 10px;
    
    h3 {
        margin: 0;
    }
    .btn-close {
        font-weight: bold;
        cursor: pointer;
        display: block;
        align-self: center;
        background-color: #ef4023;
        color: white;
        width: auto;
        font-size: 1.2em;
        line-height: 1;
    }
} 
.box-body {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.graph-container {
    display: block;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
canvas {
    background-color: #fbfbfb;
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}
.readings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    margin: 5px;
    span, button {
        margin: 0 5px;
        width: auto;
        padding: 3px 8px;
        height: 26px;
    }
}

.btn-install {
    width: auto;
    background-color: mediumseagreen;
    border: 2px solid #72cd9a;
    font-weight: bold;
}
.widgets-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    button {
        padding: 3px 8px;
        height: 16px;
        line-height: 0;
        font-size: 10px;
        width: auto;
    }
    .freeze {
        margin: 5px;
    }
}
.chartlegend, .time-frame {
    height: 20px;
    bottom: 0;
    margin: 5px;
    line-height: 20px;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 0;
    padding: 0 5px;
    span {
        height: 50%;
        margin: 0 5px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .linelegend {
            display: block;
            width: 40px;
            height:3px;
            margin: 0 5px;
        }
    }
    button {
        margin: 0 5px;
    }
    .best-rss-legend {
        .linelegend {
            background-color: rgba(114, 205, 154, 1);
        }
    }
    .rss-legend {
        .linelegend {
            background-color: rgba(141, 181, 211, 1);
        }
    }
}
@media (max-width: 450px) {
    .rss-monitor-box {
        width: 100%;
        height: 100%;
    }

}
@media (min-aspect-ratio: 1100/650) and (max-height: 650px)  {
    canvas {
        max-width: 600px;
        max-height: 400px;
    }
}
@media (min-aspect-ratio: 1100/650) and (max-height: 550px)  {
    canvas {
        max-width: 600px;
        max-height: 290px;
    }
}
@media (min-aspect-ratio: 1100/650) and (max-height: 450px)  {
    canvas {
        max-width: 600px;
        max-height: 200px;
    }
}
