<div class="box box-gray rss-monitor-box">
    
    <div class="rss-monitor-header">
        <h3 class="section-title">RSS Monitor</h3>
        <button class="btn btn-close" (click)="closeRssMonitor()">X</button> 
    </div>
    
    <div class="box-body">
        <div class="graph-container box box-gray">
            <div class="widgets-container">
                <div class="box chartlegend"> 
                    <span class="rss-legend"> 
                        <span class="linelegend"></span>
                        <span class="text-legend">RSS</span>
                    </span>
                    <span class="best-rss-legend">                 
                        <span class="linelegend"></span>
                        <span class="text-legend">Best RSS</span>
                    </span>
                </div>
                <div class="box time-frame"> 
                    <span class=""> Time frame: </span>
                    <button class="btn btn-default" (click)="setTestTime(10)" [ngClass]="testTime===10? 'active' : ''"> 10 Sec </button>
                    <button class="btn btn-default" (click)="setTestTime(60)" [ngClass]="testTime===60? 'active' : ''"> 60 Secs </button>
                    <button class="btn btn-default freeze" *ngIf="isRunning" (click)="!isRunning=false">Freeze</button>
                    <button class="btn btn-default active" *ngIf="!isRunning" (click)="isRunning=true">Resume</button>
                </div>
            </div>
            <canvas baseChart 
                [datasets]="rssValues"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType" 
                [labels]="lineChartLabels">
            </canvas>
        </div>
        
        <div class="readings"> 
            <span> RSS: {{currRssValue}} [dBm] </span>
            <span class="best-rss"> 
                Best RSS: {{maxRssValue}} [dBm]
            </span>
            <button class="btn btn-default" (click)="resetMaxtRss()"> Reset best RSS </button>
            <button class="btn btn-install" *ngIf="installConfirmReruired" data-toggle="tooltip" (click)="setConfirmationAndClose()"
                    title="When radius server is used, sends confirmation on the installation of ths SU to the radius server">
                    Confirm Installation
            </button>
        </div>
    



    </div>

</div>