<h3 class="section-title">Operations</h3>

<div class="row-flex">

  <!--<div class="col-md-8">-->
    <div class="box box-operations box-light-blue">
      <div class="box-body">
      <div class="box-header">
        <h3 class="box-title spectrum-title">SPECTRUM ANALYZER</h3>
      </div>
        <div class="row-flex">
          <div class="inputs-container">
            <form *ngIf="spectrumRange" [formGroup]="spectrumForm">
              <fieldset>
                <div class="form-group">
                  Range [MHz]:
                  <input formControlName="minAirFrequency" [(ngModel)]="spectrumRange.minAirFrequency" class="form-control" type="number" step=5
                    min={{spectrumRange.minChipFrequency}}>
                  <input formControlName="maxAirFrequency" [(ngModel)]="spectrumRange.maxAirFrequency" class="form-control" type="number" step=5
                    max={{spectrumRange.maxChipFrequency}}>
                  <div class="control-msgs" *ngIf="spectrumForm.controls.minAirFrequency.dirty || spectrumForm.controls.maxAirFrequency.dirty">
                    <p *ngIf="spectrumForm.errors?.invalidSpectrumRange">Scanning range should be up to 500MHz</p>
                  </div>
                </div>
                <div class="form-group">
                  Duration [sec]:
                  <input formControlName="duration" [(ngModel)]="duration" class="form-control" type="number" min="60" max="86400">
                  <div class="control-msgs" *ngIf="spectrumForm.controls.duration.dirty && !spectrumForm.controls.duration.valid">
                    <p *ngIf="spectrumForm.controls.duration.errors.invalidMinMax">Duration should be 60-86400 sec</p>
                  </div>
                </div>
              </fieldset>
              <button type="submit" [disabled]="!spectrumForm.valid || spectrumTestInProgress" (click)="startSpectrum($event)" class="btn btn-default">START</button>
              <button type="submit" [disabled]="!spectrumTestInProgress" (click)="stopSpectrum($event)" class="btn btn-default">STOP</button>
            </form>
          </div>
          <div class="col-md-10">
            <div class="chart">
              <div>
                Antenna A
              </div>
              <canvas baseChart class="spectrum-chart" id="antennaA" [datasets]="barChartDataA" [labels]="barChartLabels" [options]="barChartOptions"
                [colors]="barChartColors" [chartType]="barChartType">
              </canvas>
            </div>
            <div class="chart">
              <div>
                Antenna B
              </div>
              <canvas baseChart class="spectrum-chart" id="antennaB" [datasets]="barChartDataB" [labels]="barChartLabels" [options]="barChartOptions"
                [colors]="barChartColors" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->

  <div class="side-box">
    <div class="box box-green">
      <div class="box-header">
        <h4 class="box-title">DIAGNOSTICS FILE</h4>
      </div>
      <!--<div class="box-body">-->
        <button type="submit" [disabled]="false" (click)="getDiagnostics($event)" class="btn btn-default">DOWNLOAD</button>
      <!--</div>-->
    </div>

    <div class="box box-orange">
      <div class="box-header">
        <h4 class="box-title">FUNCTIONS</h4>
      </div>
      <div class="box-body">
          <div class="row-flex two-buttons">
            <!--<div class="col-sm-4 col-md-4">-->
              <!--<div class=" border-right">-->
                <button type="submit" (click)="reset($event)" class="btn btn-default">RESET</button>
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4 col-md-4">-->
              <!--<div class=" border-right">-->
                <button type="submit" (click)="resync($event)" class="btn btn-default">RESYNC</button>
              <!--</div>-->
            <!--</div>-->
          </div>

          <!--<div class="col-sm-4 col-md-4">-->
            <!--<div class="">-->
              <button type="submit" [disabled]="!isActivationEnabled" (click)="acitvateDevice($event)" class="btn btn-default">DEVICE ACTIVATION</button>
            <!--</div>-->
        </div>
          <!--</div>-->
    </div>
    <div class="box box-gray">
      <div class="box-header">
        <h4 class="box-title">LICENSE ACTIVATION</h4>
      </div>
      <div class="box-body">
        <form [formGroup]="licenseActivationForm">
          <div class="form-group">
            Enter License Key
            <input formControlName="key" [(ngModel)]="licenseKey" class="form-control">
          </div>
          <button type="submit" [disabled]="!licenseActivationForm.valid || licenseActivationForm.pristine" (click)="activateLicense(licenseKey)"
            class="btn btn-default">ACTIVATE LICENSE</button>
        </form>
      </div>
    </div>
        
    <div class="box box-gray">
      <div class="box-header">
        <h4 class="box-title">RESTORE TO FACTORY DEFAULTS</h4>
      </div>
      <!--<div class="box-body">-->
        <button type="submit" class="btn btn-default" (click)="restoreToDefualtsPressed($event)">RESTORE</button>
      <!--</div>-->
    </div>
  </div>
</div>
