@import './../../blocks/input_controls/input_controls.scss';

.row-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.row-flex-input {
}
.box-title {
    margin-left: 0;
    margin-top: 10px;
}
form, fieldset, .form-group {
}
.col-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
input-controls {
    right: -80px + $control-width;
    position: relative;
}
.spectrum-title {
    font-size: 18px;
}
.box-operations {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 80%;
}

.box-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.inputs-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    justify-content: flex-start;
    min-width: 152px;
    
}
.charts-container {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}
.chart {
    width:100%;
}

 button {
    margin: 2px;
    display: block;
    align-self: flex-start;
}
.side-box {
    width: 18%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-width: 163px;

    h4 { 
        margin-left: 0;
    }
    .box-function {
        width: 100%;
        .box-body {
            flex-flow: row wrap;
                justify-content: flex-start;
        }
       
    }
    .two-buttons {
        display: flex;
        justify-content: flex-start;
        max-width:100%; 
    }

}
.row-buttons {
    display: flex;
    flex-flow: row nowrap;
}

@media (max-width: 1050px) {
    .row-flex {
        flex-flow: column nowrap;
    }
    .form-group {
        .row-flex {
            flex-flow: row nowrap;
        }
    }
    .box-operations {
        width: 100%;
    }
    .box-body {
    }
    .side-box {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        .box-function {
            justify-content: space-between;
            width: 24%;
            .box-header {
                display: flex;
                width:100%;
                min-height: 65px;
                align-items: flex-end;
                h4 {
                    font-size: 1.17em;
                    width: 100%;
                }
            }
            .box-body {
            }
        }
    }
}
.input-units {
    width: 0;
    position: relative;
    right: 65px  + $control-width;
    align-self: center;
}

@media (max-width: 800px) {
    .box-body {
        flex-flow: column nowrap;
        align-items: center;
    }
    .inputs-container {
        width:100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        form {
            fieldset {
                .form-group {
                }
            }
        }
    }
    .charts-container {
        width: 100%;
    }
    .buttons-container {
        display: flex;
        flex-flow: column nowrap;
        button {
            width: 100%;
        }
        .row-buttons {
            flex-flow: column nowrap;
        }
    }
    .side-box {
        flex-flow: column nowrap;
        .box-function {
            width: 100%;
            .box-header {
                min-height: initial;
                
            }
        }
    }
}

@media (max-width:650px){
    .large-charts {
        width: 150vw;
        position: absolute;
        left: -3%;
        top: 50%;
        overflow-x: scroll;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 3px;
        background: #ffffff;
        margin-bottom: 20px;
        border: 1px solid silver;
        box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
        padding: 2px;
        z-index: 99;
    }
    .x {
        cursor: pointer;
        display: block;
        margin: auto;
        text-align: center;
    }

}