<div class="box-header">
	<h3 class="box-title">{{ title }}</h3>
	<span class="btn btn-file">
		Manual upload <input type="file" ng2FileSelect [uploader]="uploader" accept="{{fileType}}"/>
	</span>
</div>
<div class="box-body">
	
	<div *ngIf="!swuData && !validateAllowable && !swuError" class="file-status">
		No file exists
	</div>
	
	<div *ngIf="validateAllowable && !swuData" class="file-details"> 
		<span class="file-status">File exist - Validation required</span>
		<button type="submit" class="btn btn-install" (click)="validateSwu()">Validate</button>
	</div>

	<div *ngIf="swuError" class="file-error">
		<span class="file-status"> Error: {{ swuError }} </span>
	</div>
	
	<div *ngIf="swuData" class="file-details">

		<!--<span class="file-status"> Validated </span>-->
		<span> Release: {{ swuData?.release }} </span> 
		<span> Description: {{ swuData?.description }} </span>
		<span *ngIf="type == 'restore'"> Date: {{ swuData?.date}} </span>
		<button type="submit" class="btn btn-install" (click)="startSwu()">Install</button>
	</div>

</div>
