<h3 class="section-title">Unit</h3>
<h5 class="section-subtitle"> Upgrade to the latest software, backup, and restore to a previous version </h5>
<div class="row-flex section-body">

  <div class="box box-unit box-gray backup">
    <div class="box-header">
      <h3 class="box-title">Backup</h3> 
      <span> 
        <button *ngIf="!isBackupInProcess" class="btn btn-default" type="submit" (click)="backupDevice()">Download file</button>

      </span>
    </div>
    <div class="box-body">

      <div class="file-status" *ngIf="!isBackupInProcess">Retrieve backup file</div>
      <div class="file-status" *ngIf="isBackupInProcess">Backup in process...</div>
    </div>
      <div class="buttons">
        
        <div *ngIf="isBackupInProcess" id="cssload-wrapper">
          <div id="cssload-border">
            <div id="cssload-whitespace">
              <div id="cssload-line">
              </div>
            </div>
          </div> 
        </div>
      
      </div>
  </div>
  
  <swu-component type="swu" class="box box-unit box-green"> </swu-component>

  <swu-component type="restore" class="box box-unit box-light-blue"> </swu-component>

</div>