.row-flex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between
}
.box-unit {
  width: 39%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.box-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #d8d8d8;
  h3 {
    border: none;
    margin:0;
    padding: 0;
  }
}
.backup {
  width: 20%;
  min-width: 200px;
  button {
    width: 100%; 
  }
}
.box-body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  .file-status {
    font-size: 16px;
    color: rgb(118, 130, 142);
    text-align: center;
    margin: auto;
  }
  .file-details {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
  }
.file-error{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .file-status {
      margin: 0;
    }
    &:before {
    content: 'X';
    font-size: 11px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    background-color: #ef4023;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    line-height: 20px;
    } 
  }

  .btn-install {
    background-color: #ef4023;
    height: 32px;
    width: 94px;
    padding: 0;
    margin: 0;
    color: white;
  }

  .cssload-wrapper {
    width: 100%;
  }
}

.body-text {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
@media (max-width: 1050px) {
  .section-body {
    flex-flow: column nowrap;
    width: 600px;
    margin: auto;
    .box {
      width: 100%;
    }
  }
}
.overlay-wrapper > .overlay, .box > .loading-img, .overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay, .overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.box .overlay > .fa, .overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark, .overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.open .btn-box-tool {
  color: #606c84;
}

.btn-box-tool {
  &:hover {
    color: #606c84;
  }
  &.btn:active {
    box-shadow: none;
  }
}

.box-body {
  > .table {
    margin-bottom: 0;
  }
  .fc {
    margin-top: 5px;
  }
  .full-width-chart {
    margin: -19px;
  }
  &.no-padding .full-width-chart {
    margin: -9px;
  }
  .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }
}
.chart-legend {
  margin: 10px 0;
}


@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}

.box-input {
  max-width: 200px;
}
@media (max-width: 700px) {
  .section-body {
    width: 100%;
  }
  .box-body {
    .file-details {
      height: initial;
    }
  }
}
