<h3 class="box-title">Unit</h3>
<div class="row-flex">


  <swu-component type="swu" class="box box-green"> </swu-component>

  <swu-component type="restore" class="box box-green"> </swu-component>
  

  <!--<div class="col-md-2">-->
    <div class="box backup">
      <div class="box-header">
        <h3 class="box-title">Backup</h3>
      </div>
      <div class="box-body">
        <span>
        <button type="submit" (click)="backupDevice()" class="btn btn-default">BACKUP</button>
      </span>
      </div>
    </div>
  <!--</div>-->