.radio-table-body {
    background-image: url("/assets/icon/pattern.png");
    background-repeat: initial;
    border-top: 1px solid #cfd3da;
}
change-band {
  width: 100%;
}
h3 {
  margin-left: 0;
}
.right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.box-header {
  h3 {
    margin-top: 10px;
  }
}

.radio-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}
.parent-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.box-radio {
  height: 100%;
  width: 100%;
  padding: 5px 10px 5px 10px;

  .system-box-title {
	  font-size: 36px;
  }
}
table {
  margin-bottom: 0;
}
.radio-table {
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      border-top: 1px solid #cfd3da;
    }
  }
  tr td .progress {
    margin-top: 5px;
  }
}

.radio-table-icon {
    float: left;
    padding-right: 20px;
}

.radio-container {
  height: 100%;
}

