<h3 class="section-title">Radio</h3>
<div class="radio-container">
    <div class="box box-radio box-light-blue radio-left-side">
        <form *ngIf="radio" [formGroup]="form" style="height: 100%">
            <fieldset style="height: 100%">
                <div class="box-body">
                    
                    <div class="box-radio-header">
                        <div class="h-title">
                            <span class="img">
                                <img src="../../assets/icon/antenna.svg"/>
                            </span>
                            <span class="header-title">
                                <span class="main-title"> {{radio.antennaType}} </span>
                                <span class="sub-title">{{radio.antennaConnectionType}}</span>
                            </span>
                        </div>
                        <span class="header-details">
                            <span><span style="color: #76828e">TX Power (System):</span>{{monitor?.configMonitor?.totalTxPower}} dBm</span>
                            <span><span style="color: #76828e">EIRP:</span> {{eirp | number:'1.1-2'}} [Max: {{monitor?.configMonitor?.maxEirp | number:'1.1-2' }}] dBm </span>
                        </span>
                    </div>

                    <div class="box-radio-sector">
                        <span class="sector-title">Sector ID</span>
                        <div class="sector-inputs">
                            <input formControlName="sectorId1" [maxlength]="4" [(ngModel)]="radio.sectorId1" [readonly]="!canChangeSectorId1" (keyup)="_canChangeSectorId2(form.controls.sectorId1.value)" class="form-control sector1" type="text">
                            <input formControlName="sectorId2" [maxlength]="20" [(ngModel)]="radio.sectorId2" class="form-control sector2" type="text">
                        </div>
                        <!--<div class="control-msgs" *ngIf="(form.controls.sectorId1.dirty && form.controls.sectorId1.invalid) || (form.controls.sectorId2.dirty  && form.controls.sectorId2.invalid)">-->
                        <div class="control-msgs">
                            <p *ngIf="(!form.controls.sectorId1.pristine && form.controls.sectorId1.invalid) || 
                                      (!form.controls.sectorId2.pristine && form.controls.sectorId2.invalid)">Sector ID must be at least 8 characters.</p>
                            <p *ngIf="form.controls.sectorId1.valid && form.controls.sectorId2.errors?.maxlength">Sector ID is maximum 24 characters.</p>
                        </div>
                    </div>

                    <!--Antenna Type: {{radio.antennaType}} <br> Antenna Connection Type: {{radio.antennaConnectionType}}
                    <br> TX Power (System): {{monitor?.configMonitor?.totalTxPower}} <br> EIRP: {{eirp | number:'2.0'
                    | units: 'dbm' }} Max: {{monitor?.configMonitor?.maxEirp}} <br> TX Power(Per radio): {{monitor?.configMonitor?.currentTxPower}}
                    <div class="form-group">
                        Sector ID
                        <input formControlName="sectorId" [(ngModel)]="radio.sectorId" [readonly]="!canChangesectorId" class="form-control" type="text">
                        <div class="control-msgs" *ngIf="!form.controls.sectorId.pristine && !form.controls.sectorId.valid">
                            <p *ngIf="form.controls.sectorId.errors.minlength">Sector ID is must be at least 8 characters.</p>
                            <p *ngIf="form.controls.sectorId.errors.maxlength">Sector ID is maximum characters is 24.</p>
                        </div>
                    </div>-->
                    
                    <div class="box-radio-footer">
                        
                        <div class="footer-left">
                            <div class="req-tx">
                                <span>Required TX Power Per Radio </span>
                                <span class="input-field-flex">
                                    <input formControlName="desiredTxPower"
                                             [(ngModel)]="radio.desiredTxPower"
                                             class="form-control" 
                                             type="number"
                                             min={{radio.minTxPower}}
                                             max="{{radio.maxTxPower}}">
                                    <input-controls [form]="form"></input-controls>
                                    <span class="input-units">dBm</span>
                                </span>
                            </div>
                            <div class="control-msgs" *ngIf="form.controls.desiredTxPower.dirty && !form.controls.desiredTxPower.valid">
                                <p *ngIf="form.controls.desiredTxPower.errors.required">TX Power Per Radio is required.</p>
                                <p *ngIf="form.controls.desiredTxPower.errors.invalidMinMax">Tx Power Per Radio should be between {{radio.minTxPower}}-{{radio.maxTxPower}}</p>
                            </div>
                            
                            <div class="ant-gain">
                                <span>Antenna Gain </span>
                                <span class="input-field-flex">
                                    <input formControlName="antennaGain" [(ngModel)]="radio.antennaGain" class="form-control" type="number" step="0.1" readonly
                                        min="{{radio.minAntennaGain" max="radio.maxAntennaGain}}">
                                    <span class="input-units">dBi</span>
                                    <input-controls [form]="form"></input-controls>
                                </span>
                            </div>

                        </div>
                        
                        <div class="footer-right">
                            <div class="cbw">
                                <span>Channel Bandwidth</span>
                                <span class="input-field-flex">
                                    <select formControlName="currentCbw" [(ngModel)]="radio.currentCbw" class="form-control" type="number">
                                        <option *ngFor="let cbw of radio?.options?.cbwList" [value]="cbw">{{ cbw }}</option>
                                    </select>
                                <span class="input-units">MHz</span>
                                </span>
                            </div>
                            <div class="frq">
                                <span>Frequency</span>
                                <span class="input-field-flex">
                                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="radio.currentFrequency" class="form-control" readonly>
                                <!--<span class="input-units"></span>-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>


    <div class="radio-right-side">
        <div class="box box-radio box-green">
            <change-band></change-band>
        </div>
        <div class="box box-radio box-light-blue" *ngIf="radio.hsuType == 'Stationary' || radio.hsuType == 'Mobile'">
            <div class="box-header">
                <h3 class="box-title">MOBILITY SETTINGS</h3>
            </div>
            <div class="box-body">
                <form *ngIf="radio" [formGroup]="form">
                    <fieldset>
                        <div class="form-group">
                            Mobility level
                            <div class="input-group">
                                <select formControlName="mobilityLevels" [(ngModel)]="radio.mobilityLevel" class="form-control" type="number">
                                    <option *ngFor="let level of mobilityLevels" [value]="level">{{ level }}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="buttons-footer">
    <button form="form" type="submit" (click)="save($event)" [disabled]="form.invalid || !form.dirty" class="btn btn-primary">APPLY ALL</button>
    <button form="form" type="cancel" (click)="cancel($event)" class="btn btn-default">CANCEL</button>
</div>