/* radio configuration */
change-band {
  width: 100%;
} 
.box-radio {
  width: 100%;
  padding: 5px 10px 5px 10px;
  .system-box-title {
	  font-size: 36px;
  }
}
h3 {
  margin-left: 0;
}
.radio-right-side {
  min-width:300px;
  margin-left: 20px;
  width:38%;
  display: flex;
  flex-flow: column nowrap;
  .box-radio:nth-child(1) {
    padding: 10px ;
  }
}

.radio-left-side { 
  width: 26%;
  min-width: 500px;
}
.box-header {
  h3 {
    margin-top: 10px;
  }
}

.radio-container {
	display: flex;
	flex-flow: row wrap;
  justify-content: center;
	width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 1050px) {
  .radio-right-side {
    width: 100%;
    margin-left: 0;
  }
  .radio-container {
    width: 600px;
    flex-flow: column nowrap;
    .box-radio {
      width: 100%;
    }
    margin: auto;
  }
}
/* radion monitor */

.radio-table {
  display: flex;
  flex-flow: column nowrap;
}
.radio-table-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 56px;
  .radio-table-icon {
    height: 70%;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      display: block;
    }  
  }
  .header-details {
    padding-left: 10px;
  }
}
.radio-table-body {
  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    background-image: url('../../assets/icon/pattern.png');
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px;
  }
}

.box-body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  .box-radio-header {
    justify-content: space-between;
    display: flex;
            align-items: flex-start;
    min-height: 100px;
    height: 100%;
    .h-title {
      height: 100%;
      display: flex;
          flex-flow: row nowrap;
              justify-content: flex-start;
      align-items: flex-end;
      width: 45%;
      .img { 
        height: 100%;
        padding-bottom: 3px;

      }
    }
    .header-title {
        padding-left: 10px;
        display: flex;
        flex-flow: column nowrap;
        .main-title {
          font-size: 36px;
          font-weight: 700;
        }
        .sub-title {
          font-size: 16px;
          font-weight: 700;
        }
    }
    .header-details {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      /* width: 50%;*/
      width: 230px;
      min-width: 200px;
      height: 100%;
     
      font-size: 16px;
      text-align: center;
      span {
        background-image: url('../../assets/icon/pattern.png');
        height: 45px;
        line-height: 45px;
        padding: 0 5px 0 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    }
  }
  .box-radio-sector {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 70px;
    .sector-title {
      color: #76828e;
    }
    .sector-inputs {
      display: flex;
      flex-flow: row nowrap;
              justify-content: flex-start;
      padding: 4px 0 4px 0;
      .sector1 {
        border: 1px solid #d8d8d8;
        width: 84px;
        margin-right:20px;
        &:after {
          content: "-";
          font-size: bold;
        }
      }
      .sector2 {
        border: 1px solid #d8d8d8;
        // width: 330px;
      }
    }
  }
  .box-radio-footer {
    height: 200px;
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .footer-left, .footer-right {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-self: flex-end;
      height: 100%;
      width: 49%;
      align-self: flex-end;
      .req-tx, .ant-gain, .cbw, .frq, {
        min-height: 70px;
        height: 100%;
        justify-content: flex-end;
        display: flex;
        flex-flow: column nowrap;
        span {
          color: #76828e;
        }
        .input-field-flex {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          width: 100%;
          .form-control{
            width: 100%;
          }
          .input-units {
            width: 0;
            position: relative;
            right: 85px;
                align-self: center;
          }
        }
      }
    }
  }

}

.control-msgs {
  display: flex;
  color: red;
  p {
    margin: 10px 0 0 0 ;
  }
}
input-controls {
  height: 34px;
  width: 0;
  position: relative;
  right: 0px;
}
