.wifi-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wifi-title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.wifi-table-wrapper {
    overflow:auto;
    height: 270px;
    font-size: 16px;
}

.wifi-th {
    color: #a0a8b6;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
form, fieldset {
    height: 100%;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f1faf5;
}
.box-content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}
.box-wifi {
  margin-bottom: 20px;
  width: 48%;
  padding: 10px 0 0 0;
}
.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    
}
.box-title {
    margin: 0 15px 0 10px;
    color: #6b7276;
}
.header-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px;
    .right-status, .right-security {
        background-image: url('../../assets/icon/pattern.png');
        padding: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
.header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left:10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    .left-title {
        font-size: 14px;
        color: #76828e;
    }
    .left-value {
        font-size: 28px;
    }
}


.box-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
}
.footer-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 10px 0;
    border: 1px solid #d2d6de;    
    border-bottom: none;
    .left-pass, .left-ip {
        padding: 0 20px 0 20px;
        color: #76828e;
        
    }
}
.footer-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding:20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #d2d6de;
    border-bottom: none;
    .right-ap {
        color: #76828e;
    }
    .right-chTx {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        .ch {
            width: 45%;
            color: #76828e;
        }
        .tx {
            width: 45%;
            color: #76828e;
            .tx-power {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                border: 1px solid #d2d6de;
                padding: 0 12px;
                input {
                    padding: 0;
                    border: none;
                }
                .dbm {
                }
            }
        }
    }
}