<modal style="top: 15%" #modal data-backdrop="static" (onClose)="clear()">
	<modal-header [show-close]="fasle">
		<h4 class="modal-title">{{ title }}</h4>
	</modal-header>
	<modal-body>
		<div class="modal-body-container">
			<div class="modal-body-content" style="display: flex; flex-flow: row nowrap; align-items: center; justify-content:flex-start">
				<img [src]="getIconImg()"/>
				<div #innercomponent></div>
				<p *ngIf="message" style="margin: 0">{{message}}</p>
			</div>
		</div>
	</modal-body>
	<modal-footer>
		<button type="button" *ngIf="okText" class="btn btn-primary" style="width: 80px;" (click)="onOk()">{{ okText }}</button>
		<button type="button" *ngIf="cancelText" class="btn btn-default" data-dismiss="modal" (click)="onDismiss()">{{ cancelText }}</button>
	</modal-footer>
</modal>

