.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-flow: row nowrap;*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
}
@media (min-width: 1051px) {
  .row-flex {
    width: 100%;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
  }
  .quick-look-block, .info-box, link-state {
    width: 24%;
  }
  .info-box-text {
    font-size: 1.2vw;
  }
}



.quick-look-bar {
  background-image:url("/assets/icon/pattern.png");
  min-height: 62px;
  :nth-last-child(1) {
    border-right: none;
  }
}

.quick-look-block {
  display: block;
  margin: 10px; 
  text-align: left;
  border-right: 1px solid #d8d8d8;
}

.quick-look-header {
  color: #76828e;
}

.quick-look-text {
  color: #273238;
  font-size: 16px;
}

.quick-look-wrapper {
  border-bottom: 2px solid #d9dcdf;
  padding-bottom: 30px;
}
/*
 * Component: Info Box
 * -------------------
 */

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  /*small {
    font-size: 14px;
  }

  }*/
  .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
    border-radius: 0;
    .progress-bar {
      border-radius: 0;
      background: #fff;
    }
  }
}

.info-box-icon {
  border-right: 1px solid #d8d8d8 ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  img {
    display: block;
    height: 100%;
  }
  height: 56px;
  width: 72px;
  text-align: center;
}

.info-box-content {
  display: block;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}


.progress-description {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-text {
  color: #273238;
  font-family: Roboto;
  font-weight: 400;
}

.system-box-title {
  font-size: 36px;
}

.info-box-label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  top: 15px;
  color: #76828e;
}

.info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}

.info-box-gray {
  border-left: 4px solid #76828e;
}
.info-box-red {
  border-left: 4px solid #f47f6b;
}
.info-box-light-blue {
  border-left: 4px solid #8db5d3;
}
.info-box-green {
    border-left: 4px solid #72cd9a;
}

@media (max-width: 1050px) {
  .row-flex {
    width: 600px;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .quick-look-block, .info-box, link-state {
    width: 274px;
  }
  .info-box-text {
    font-size: 1.6em;
  }
  .quick-look-block {
    margin: 0 10px 0 10px;
    padding: 10px;

    border-right: none;
    border-bottom: 1px solid #d8d8d8;
    &:nth-child(3), &:nth-child(4) {
      border-bottom: none;
    }
  }
}