.row-flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
} 
.serach-icon {
  margin: auto;
  cursor: pointer;
  height: 45px;
}
.info-box-text {
  font-size: 1.3em;
}
@media (min-width: 1090px) {
  .row-flex {
    width: 100%;
    flex-flow: row nowrap;
  }
  .quick-look-block, .info-box, link-state {
    width: 24%;
  }
  .info-box-text {
    font-size: 1.3em;
  }
}

link-state {
  min-width: 239px;
}

.quick-look-bar {
  background-image:url("/assets/icon/pattern.png");
  min-height: 62px;
  :nth-last-child(1) {
    border-right: none;
  }
}

.quick-look-block {
  display: block;
  margin: 10px; 
  text-align: left;
  border-right: 1px solid #d8d8d8;
}

.quick-look-header {
  color: #76828e;
}

.quick-look-text {
  color: #273238;
  /* font-size: 16px;*/
}

.quick-look-wrapper {
  padding-bottom: 20px;
}
/*
 * Component: Info Box
 * -------------------
 */

.info-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 80px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
    border-radius: 0;
    .progress-bar {
      border-radius: 0;
      background: #fff;
    }
  }
}

.info-box-icon {
  border-right: 1px solid #d8d8d8 ;
  display: flex;
  justify-content: center;
  img {
    display: block;
    height: 100%;
  }
  height: 56px;
  width: 72px;
  text-align: center;
}
.rss-icon {
  transform: rotateY(180deg);
}
.info-box-content {
  display: block;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}


.progress-description {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-text {
  color: #273238;
  font-family: Roboto;
  font-weight: 400;
}

.system-box-title {
  font-size: 36px;
}

.info-box-label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  top: 15px;
  color: #76828e;
}

.info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}

.info-box-gray {
  border-left: 4px solid #76828e;
}
.info-box-red {
  border-left: 4px solid #f47f6b;
}
.info-box-light-blue {
  border-left: 4px solid #8db5d3;
}
.info-box-green {
    border-left: 4px solid #72cd9a;
}

.sm-text {
  font-size: 14px;
}
@media (max-width: 1050px) {
  .row-flex {
    width: 600px;
    flex-flow: row wrap;
  }
  .quick-look-block, .info-box, link-state {
    width: 274px;
  }
  .info-box-text {
    font-size: 20px;
  }
  .quick-look-block {
    margin: 0 10px 0 10px;
    padding: 10px;

    border-right: none;
    border-bottom: 1px solid #d8d8d8;
    &:nth-child(3), &:nth-child(4) {
      border-bottom: none;
    }
  }
}
@media (max-width: 768px) {
  .row-flex {
    width: 100%;
  }
  .info-box-icon {
    display: none;
  }
  .info-box-content {
    margin :0;
  }
  .quick-look-block, .info-box {
    width: 45%;
    min-width: 117px;
    height: 50px
  }
  .quick-look-text, .info-box-text {
    font-size: 1em;
  }
  .up-time-text {
    text-overflow: none;
  }
  .quick-look-bar {
    .quick-look-block {
      margin :0;
      padding: 5px 3px;
      .quick-look-text {
        font-size: 0.8em;
      }
    }
  }
  .serach-icon {
    height: 30px;
  }
}