<div class="login-background">
	<section class="bg-placeholder fullHeight imageShadow">
		<div class="container">
			<div class="form-container">
				<div class="logo-text">
					<a href="#"><img src="/assets/img/logo.png" alt="RADWIN" width="146" height="27"></a>
				</div>
				<div class="form">
					<div *ngIf="regularLoginMode" class="form-header">User Login</div>
					<div *ngIf="!regularLoginMode" class="form-header">Password Help</div>
					<div class="form-content">

						<form *ngIf="regularLoginMode" class="login-form" [formGroup]="form">
							<div class="control-msgs" *ngIf="regularLoginMode && form.controls['username'].dirty && !form.controls.username.valid && !form.controls.username.pending">
								<p *ngIf="form.controls.username.errors.required">Username is required.</p>
							</div>
							<input *ngIf="regularLoginMode" type="text" formControlName="username" placeholder="USERNAME" maxlength="20">

							<div class="control-msgs" *ngIf="form.controls.password.dirty && !form.controls.password.valid && !form.controls.password.pending">
								<p *ngIf="form.controls.password.errors.required">Password is required.</p>
							</div>
							<input type="password" formControlName="password" placeholder="PASSWORD" maxlength="20" autocomplete="false">

							<span *ngIf="regularLoginMode" class="forgot-pass"><a href="#" (click)="toggleLoginMode($event)" >Forgot Password?</a></span>
							<input type="submit" [disabled]="!form.valid" (click)="login($event)" value="LOG IN">
						</form>


						<form *ngIf="!regularLoginMode" class="login-form" [formGroup]="forgotForm">
							<div class="form-text">
								<p>Enter alternative password</p>
							</div>
							<input type="password" formControlName="password" placeholder="PASSWORD" maxlength="20" autocomplete="false">
							<div class="control-msgs" *ngIf="forgotForm.controls.password.dirty && !forgotForm.controls.password.valid && !forgotForm.controls.password.pending">
								<p *ngIf="forgotForm.controls.password.errors.required">Password is required.</p>
							</div>
							<input type="submit" [disabled]="!forgotForm.valid" (click)="login($event)" value="LOG IN">
						</form>

					</div>
					<div *ngIf="!regularLoginMode" class="form-footer"><a href="#" (click)="toggleLoginMode($event)">RETURN TO LOGIN</a></div>
					<div class="form-footer">
						Version: {{ version }} Build: {{ build }}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<rad-modal></rad-modal>