.box-security {
  width: 80%;
//   padding-top: 20px ;
//   padding-bottom: 10px;
}

.currPassword {
    width: 20%;  
    margin-left: 25px;
       
    .form-group {
        width: 100%;
    }
}
.pass-buttons {
   align-self: center;
    display: flex;
    margin-left: 10px;
    flex-flow: row wrap;
    justify-content: center;
    button {
        margin:2px;
    }

}
.form-group {
    width: 45%;
    height: 86px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.matching-passwords {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 25px;
    width: 50%;
}
.box-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-flow: row nowrap;
}