.security-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.box-security {
  width: 100%;
}
.box-title {
    border: none;
    margin-left: 0
}
.fields-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.password-field {
    width: 230px;  
    margin-left: 25px;
}
.matching-passwords {
    display: flex;
    flex-flow: row nowrap;    
}
.control-msgs {
    display: flex;
    flex-flow: column nowrap;
    color: #ef4023;
    height: 100%;
    margin-top: 10px;
    margin-left: 26px;
}
@media (max-width: 1050px) {
    .box-security {
        width: 600px;
        margin: auto auto 20px auto;
    }
}

@media (max-width: 700px) {
    .box-security {
        width: 100%;
    }
    .matching-passwords, .fields-container {
        flex-flow: column nowrap;
    }
}