.box-security {
  width: 80%;
}

.currPassword {
    width: 20%;  
    margin-left: 25px;
       
    .form-group {
        width: 100%;
    }
}
.pass-buttons {
   -ms-flex-item-align: center;
       align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    button {
        margin:2px;
    }

}
.form-group {
    width: 45%;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.matching-passwords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 25px;
    width: 50%;
}
.box-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
}