

.overview-section {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
}
.overview-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 350px;
    width:100%;
}
system-monitor {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
device-monitor {
    width: 100%;
    height: 100%;
    margin-top:10px;
    display: flex;
}
radio-monitor {
    width: 25%;
    height: 100%;
            justify-content: center;
    min-width: 230px;
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    
}
.monitors-container {
    min-width: 600px;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

recent-events {
    width: 100%;  
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 1170px) {
    .overview-row {
        flex-flow: column nowrap;
            justify-content: flex-start;
        height: 650px;
    }
    .monitors-container {
        width: 100%;
        height: 350px;
    }

    radio-monitor {
        width: 50%;
        height: 250px;
        margin-bottom: 35px;
    }

    .overview-section {
        min-width: 600px;
    }
}
