
$defalut-fonts:'Roboto';
$defalut-color:#4f535e;
$default-a-color:#ef4023;
$default-a-color-hover:#ef4023;

$background-color:#fff;

$header-fonts:'Roboto';
$header-color:#ef4023;

$header1:35px;
$header2:27px;
$header3:24px;
$header4:20px;
$header5:18px;
$header6:16px;

$p-default-color:#4f535e;
$p-default-size:14px;

$input-default-border:#a1a7ad;
$input-default-color:#d8d8d8;
$input-default-placeholder-color:#a1a7ad;
$input-default-placeholder-opacity:1;

$container:1200px;