<div class="title-row" (click)="hideSection=!hideSection">
    <div class="events-title">
        <h3 class="section-title">Events</h3>
        <img *ngIf="!hideSection || !isMobile" src="../../assets/icon/refresh.svg" class="refresh-img" (click)="refresh()"/>
    </div> 

    <div class="events-legend" *ngIf="!hideSection ||!isMobile"> 
        <span class="legend-title"> LEGEND </span>
        <span class="legend-body">
            <span class="legend-icons"> 
                <span class="legend-icon">
                    <span class="severity-circle info" data-toggle="tooltip" title="Info" (click)="$event.stopPropagation()"></span>
                </span>
                <span class="legend-icon">
                    <span class="severity-circle normal" data-toggle="tooltip" title="Normal" (click)="$event.stopPropagation()"></span>
                </span>
                <span class="legend-icon">
                    <span class="severity-circle warning" data-toggle="tooltip" title="Warning" (click)="$event.stopPropagation()"></span>
                </span>
                <span class="legend-icon">
                    <span class="severity-circle minor" data-toggle="tooltip" title="Minor" (click)="$event.stopPropagation()"></span>
                </span>
                <span class="legend-icon">
                    <span class="severity-circle major" data-toggle="tooltip" title="Major" (click)="$event.stopPropagation()"></span>
                </span>
                <span class="legend-icon">                      
                    <span class="severity-circle critical" data-toggle="tooltip" title="Critical" (click)="$event.stopPropagation()"></span>
                </span>
            </span>
        </span>
    
    </div>
    
</div>

<div class="box-events events-table-wrapper" *ngIf="!hideSection || !isMobile">
    <table class="table" *ngIf="events">
        <thead>
            <tr>
                <th></th>
                <th class="events-th">#</th>
                <th class="events-th">Date & Time</th>
                <th class="events-th">Description</th>
                <th class="events-th">Interface</th>
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td><i [ngClass]="getSeverityClass(event.severity)"></i></td>
                <td>{{ event.eventIndex }}</td>
                <td>{{ event.dateAndTime }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.interfaceName }}</td>
            </tr>
        </tbody>
    </table>
</div>