.box-events {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3px;
  border-left: 4px solid #76828e;
  background: #ffffff;
  padding: 5px;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.events-title {
    display: inline-flex;
    h3 {
        margin-left:0;
    }
}

.events-table-wrapper {
    overflow:auto;
    height: 220px;
    font-size: 16px;
}

.box-body {
    width: 100%;
}
.events-th {
    color: #a0a8b6;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.severity-circle {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid;
}

.severity-circle.info {
    border: 1px solid;
    border-color: #d7dadd;
}

.severity-circle.normal {
    border: 2px solid;
    border-color: #c2caef;
}

.severity-circle.warning {
    border: 3px solid;
    border-color: #efce39;
}

.severity-circle.minor {
    border: 4px solid;
    border-color: #ef8939;
}

.severity-circle.major {
    border: 5px solid;
    border-color: #ec1f27;
}

.severity-circle.critical {
    border: 6px solid;
    border-color: #ec1f27;
}

.title-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom:10px;
}
.events-legend {
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .legend-title {
        font-family: 'Roboto';
        font-size: 10px;
        margin-right: 10px;
        align-self: flex-end;
    }
    .legend-body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 130px;
    }
    .legend-icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 20px;
        width: 100%;
        line-height: 50%;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 3px;
        border-bottom: 1px solid silver;
        border-right: 1px solid silver;
        border-left: 1px solid silver;
        .legend-icon {
            width: 13px;
            height: 13px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            .severity-circle {
                position: absolute;
                width: 13px;
                height: 13px;
            }
        }
    }
    .legend-bubbles {
        width:100%;
        height: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

    }
        .bubble {
            display: none;
            position: relative;
            top: -25px;
            height: 19px;
            width:45px;
            line-height: 19px;
            color: black;
            background-color: white;
            border-radius: 5px;
            border: 1px solid gray;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-family: Roboto;
            font-size: 10px;
            
            &:after {
                content: '';
                position: absolute;
                top: 85%;
                left: 36%;
                
                width: 0px;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: white transparent;
                display: block;
            }
            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 40%;
                width: 0;
                border-style: solid;
                border-width: 4px 4px 0 4px;
                border-color: black transparent;
                display: block;
            }
        }
        .bubble.visible {
            display: block;
        }
}
