.custom-pagination {
  display: flex;
  height: auto;
  flex-flow: row wrap;
  justify-content: space-around;
}
form {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.network-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.row-flex {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between
}
.form-group {
	width: 30%;
}
.form-group-vlan {
	width: 45%;
}
.box-network {
  width: 48%;
  padding: 5px 10px 5px 10px;

}
.box-light-blue {
    border-left: 4px solid #8db5d3;
}
.box-green {
    border-left: 4px solid #72cd9a;
}
.box-orange {
		border-left: 4px solid #f47f6b
}
.vlan-wrapper
{
	display:flex; 
	//padding-left: 20px;
	padding: 20px;
	justify-content: center;
  align-items: center;
	min-height: 166px;
}

.vlan-content
{
	// height : 110px; 
	display: flex;
	flex-flow: row wrap;
	flex: 2;
}

.vlan-title
{
	padding-left : 10px;
	padding-top : 10px;
	width: 170px;
	border-right: 1px solid #edeff0;
	font-size: 18px;
}

.trap-title
{
	padding-left : 10px;
	padding-top : 10px;
	width:120px;
	font-size: 18px;
}

.vlan-form {
  flex-flow: row wrap;
  flex: 2;
  background-color : #fbfbfb;
}

.traps-header {
	// padding-bottom: 80px;
}

.traps-buttons {
	padding: 20px;
	text-align: right;
}