.custom-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
form {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.network-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 100%;
}
.row-flex {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between
}
.form-group {
	width: 30%; 
}
.form-group-vlan {
	width: 45%;
}
.box-network {
  width: 48%;
  padding: 5px 10px 5px 10px;
}
.box-vlan {
	width: 48%;
	padding :0;
}
.box-light-blue {
    border-left: 4px solid #8db5d3;
}
.box-green {
    border-left: 4px solid #72cd9a;
}
.box-orange {
		border-left: 4px solid #f47f6b
}
.vlan-content
{
	height : 100%; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.vlan-title
{
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	height: 65%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 170px;
	font-size: 18px;
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	padding: 10px;
}
.vlan-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	-webkit-box-flex: 5;
	    -ms-flex: 5;
	        flex: 5;
	background-color : #fbfbfb;
	height: 100%;
	padding: 10px;
	
}
.box-traps {
	width: 48%;
	padding: 0;
}
.traps {
}
.traps-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background-color: white;
	min-height: 77px;
	padding: 0 10px 0 10px;
}
.traps-title
{	
	position: relative;
	bottom: -26px;
	min-width: 135px;
	font-size: 18px;
}
.traps-body {
	background-color: #fbfbfb;
	padding: 0 28px 0 28px;
}
.traps-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	bottom: -26px;
	height:100%;
	width: 280px;
	.trap-button {
		margin-left:2px;
		margin-right:2px;
		cursor: pointer;
		width:24px;
		height:24px;
		text-align: center;
		background-color: white;
		color: black;
		border-radius: 4px;
		border: 2px solid #8db5d3;
		font-size: 12px;
		text-decoration: none;
	}
	.active {
		position: relative;
		background-color: #8db5d3;
		height: 52px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.trap-button.active {
	}
	.traps-arrows {
		position: relative;
		top: 0;
	}
	.arrow-down{
		width: 0; 
		height: 0; 
		border-top: 11px solid #8db5d3;
		border-left: 12px solid transparent; 
		border-right:12px solid transparent;; 
		position:absolute;
		top: 50px;
		right:-2px;
	}
}