@import './../blocks/input_controls/input_controls.scss';

.network-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.custom-pagination {
  display: flex;
  height: auto;
  flex-flow: row wrap;
  justify-content: space-around;
}
form {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.network-bottom {
	.form-group{
		input, select {
			font-size: 0.9em;
		}
	}
}
.row-flex {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between
}
input-controls {
	position: relative;
	/* right: -74px;*/
	right: -110px + $control-width;
}
.form-group {
	width: 30%; 
	min-width:160px;
}
.control-msgs {
	color: #ef4023;
}
.input-group {
	display: block;
	height: 34px;
}
.my-input-group-addon {
	height: 34px;
    cursor: pointer;
    width: 20%;
    display: flex;
    position: relative;
    border: 1px solid #d2d6de;
    align-items: center;
    justify-content: center;
    top: -34px;
    left: 80%;
    z-index: 9;
    background-color: white;
}
.form-group-vlan {
	display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 50%;
	.row-flex {
		width: 90%;
	}
}
.box-network {
  width: 48%;
  min-width: 516px;
  padding: 5px 10px 5px 10px;
}
.box-vlan {
	width: 48%;
	justify-content: center;
	padding :0;
}
.box-light-blue {
    border-left: 4px solid #8db5d3;
}
.box-green {
    border-left: 4px solid #72cd9a;
}
.box-orange {
	border-left: 4px solid #f47f6b
}
.vlan-content
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.vlan-title
{
	flex-flow: column nowrap;
	justify-content: space-around;
	height: 65%;
	align-items: flex-start;
	width: 170px;
	font-size: 18px;
	flex: 2;
	padding: 10px;
}
.vlan-form {
	display: flex;
    flex-flow: row wrap;
    align-items: center;
	flex: 5;
	background-color : #fbfbfb;
	height: 100%;
	padding: 10px;
	input {
		// width: 80%;
		min-width: 50px;
	}
	
}
.box-traps {
	width: 48%;
	padding: 0;
}
.traps-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: white;
	min-height: 77px;
	padding: 0 10px 0 10px;
}
.traps-title
{	
	position: relative;
	bottom: -26px;
	font-size: 18px;
}
.traps-body {
	background-color: #fbfbfb;
	padding: 0 28px 0 28px;
}
.traps-buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
	bottom: -26px;
	height:100%;
	width: 280px;
	.trap-button {
		margin-left:2px;
		margin-right:2px;
		cursor: pointer;
		width:24px;
		height:24px;
		line-height: 21px;
		text-align: center;
		background-color: white;
		color: black;
		border-radius: 4px;
		border: 2px solid #8db5d3;
		font-size: 12px;
		text-decoration: none;
	}
	.active {
		position: relative;
		background-color: #8db5d3;
		height: 32px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.traps-arrows {
		position: relative;
		top: 0;
	}
	.arrow-down{
		width: 0; 
		height: 0; 
		border-top: 11px solid #8db5d3;
		border-left: 12px solid transparent; 
		border-right:12px solid transparent;; 
		position:absolute;
		top: 30px;
		right:-2px;
	}
}
.traps {
	.control-msgs {
		padding-left: 31px;
	}
}
.row-flex-trap {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 30px;
}

@media (max-width: 1200px) {
	form {
		flex-flow: column nowrap;
	}
	.box-traps, .box-network, .box-vlan {
		width: 600px;
		margin: 0 auto 20px auto;
	}
	.vlan-title {
		height: 100%;
	}
	.form-group-vlan {
		padding: 6%;
	}
} 

@media (max-width: 700px) {
	
	.box-network {
		width: 100%;
		min-width: 100%;
		input {
								margin-top: 0;
							}
		.box-body {
			fieldset {
				.row-flex { 
					flex-flow: column nowrap;
					.form-group {
						width: 100%;
						.input-group {
							width: 100%;
							
							.my-input-group-addon {
								position: absolute;
								max-width: 35px;
								left: initial;
								top:0;
								right: 0;
							}
						}
					}
				}
			}
		}
	}
	.box-vlan {
		width: 100%;
		.vlan-content {
			height: initial;
			.row-flex {
				flex-flow: row nowrap;
			}
		}
	}
	.box-traps {
		width: 100%;
	}
	.traps-header {
		flex-flow: column nowrap;
		align-items: flex-start;
		.traps-title {
			bottom: 0;
		}
		.traps-buttons {
			bottom: 0;
			height: initial;
			justify-content: flex-start;
			width: 100%;
		}
	}
	.row-flex-trap {
		width:100%;
		padding: 0 10px;
		.form-group {
			width: 40%;
			margin-right: 9%;
			min-width: 0;
		}
	}
}