
    <form [formGroup]="trapform">
        <div class="row-flex">
            <!--<div class="col-lg-6">-->
                <div class="form-group">
                    IP Address
                    <input formControlName="hostIp" [(ngModel)]="trap && trap.hostIp" class="form-control" type="text">
                    <div class="control-msgs" *ngIf="trapform.controls.hostIp.dirty && !trapform.controls.hostIp.valid">
                        <p *ngIf="trapform.controls.hostIp.errors.invalidIp4">IP Address is invalid</p>
                        <p *ngIf="trapform.controls.hostIp.errors.required">IP Address is required</p>
                    </div>
                </div>
            <!--</div>-->
            <!--<div class="col-lg-6">-->
                <div class="form-group">
                    Port
                    <input formControlName="hostPort" [(ngModel)]="trap && trap.hostPort" class="form-control" type="number">
                </div>
            <!--</div>-->
            <!--<div class="col-lg-4">
                <div class="form-group">
                    Security Model
                    <select formControlName="securityModel" [(ngModel)]="securityModel" class="form-control">
                       <option value="SNMPv1">SNMPv1</option>
                 </select>
                </div>
            </div>-->
        </div>

        <!--<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Username
                    <input class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    Password
                    <input class="form-control" type="text" readonly>
                </div>
            </div>
        </div>-->
    </form>