<div class="wrapper"> 

	<header class="main-header">
		<nav class="navbar" role="navigation">
			<span href="#" class="hamburger hamburger--collapse" [ngClass]="isActive? 'is-active' : ''" (click)="isActive=!isActive">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				<span class="sr-only">Toggle navigation</span>
			</span>
			<span class="main-logo">
                <img src="/assets/img/logo.png">
            </span>
		
			<div class="custom-menu">
				<ul class="nav navbar-nav">

					<li class="dropdown notifications-menu" (click)='RequestForAlarms()'>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img class="bell" [src]="'../../assets/icon/bell.svg'" />
							<span *ngIf="alarmsCounter > 0" class="label label-warning">{{alarmsCounter}}</span>
						</a>
						<ul class="dropdown-menu">
							<active-alarms></active-alarms>
						</ul>
					</li>
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="">Admin</span>
						</a>
						<ul class="dropdown-menu">
							<li class="user-footer">
								<a href="/" (click)='logout()' class="btn btn-default btn-flat">Log out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
		</nav>
	</header>
	<span class="main-sidebar" [ngClass]="!isActive? 'menu-collapse' : ''" (mouseenter)="isActive=true" (mouseleave)="isActive=false">

        <section class="sidebar">

            <ul class="sidebar-menu">
				<li class="treeview" (click)="openedSection === 1? openedSection = 0 : openedSection = 1">
					<span class="side-bar-item" [routerLink]=" ['./overview'] " [routerLinkActive]="['is-active']">
						<span class="menu-title" (mouseenter)="openedSection === 1? state1='active' : state1='hover'" (mouseleave)="openedSection === 1? state1='active' : state1=''" (click)="isActive = true; state1='active'; state2=''; state3=''">
							<img [src]="'../../assets/icon/menu1' + getImg(state1) + '.svg'"/>
							<span class="side-bar-title" *ngIf="isActive">OVERVIEW</span>
						</span>
						<span [ngClass]="openedSection === 1 && isActive? 'arrow-left' : ''"> </span>
					</span>
				</li>
				
				<li class="treeview" (click)="openedSection === 2? openedSection = 0 : openedSection = 2" >
					<span class="side-bar-item" >
						<span class="menu-title" (mouseenter)="openedSection === 2? state2='active' : state2='hover'" (mouseleave)="openedSection === 2? state2='active' : state2=''" (click)="isActive = true; state2='active'; state1=''; state3=''">
							<img [src]="'../../assets/icon/menu2' + getImg(state2) + '.svg'"/>
							<span class="side-bar-title" *ngIf="isActive">CONFIGURE</span>
						</span>
						<span [ngClass]="openedSection === 2  && isActive? 'arrow-left' : ''"> </span>
					</span>
					<ul class="treeview-menu" *ngIf="isActive && openedSection === 2">
						<li><a [routerLink]=" ['./system-configuration'] "   [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">SYSTEM  </span></a></li>
						<li><a [routerLink]=" ['./radio-configuration'] "    [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">RADIO   </span></a></li>
						<li><a [routerLink]=" ['./network-configuration'] "  [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">NETWORK </span></a></li>
						<li><a [routerLink]=" ['./wifi-configuration'] "     [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">WIFI    </span></a></li>
						<li><a [routerLink]=" ['./security-configuration'] " [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">SECURITY</span></a></li>
					</ul>
				</li>
				
				<li class="treeview" (click)="openedSection === 3? openedSection = 0 : openedSection = 3">
					<span class="side-bar-item">
						<span class="menu-title" (mouseenter)="openedSection === 3? state3='active' : state3='hover'" (mouseleave)="openedSection === 3? state3='active' : state3=''" (click)="isActive = true; state3='active'; state1=''; state2=''">
							<img [src]="'../../assets/icon/menu3' + getImg(state3) + '.svg'"/>
							<span class="side-bar-title" *ngIf="isActive">TOOLS</span>
						</span>
						<span [ngClass]="openedSection === 3 && isActive? 'arrow-left' : ''"> </span>
					</span>
					<ul class="treeview-menu" *ngIf="isActive && openedSection === 3">
						<li><a [routerLink]=" ['./unit-tools'] "       [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">UNIT </span></a></li>
						<li><a [routerLink]=" ['./network-tools'] "    [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">NETWORK </span></a></li>
						<li><a [routerLink]=" ['./operations-tools'] " [routerLinkActive]="['is-active']"> <i class="sub-menu-icon"></i> <span class="side-bar-title sub-menu" (click)="$event.stopPropagation();">OPERATIONS </span></a></li>
					</ul>
				</li>

				</ul>
			</section>
	</span>

	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				{{system?.product | productPipe }}
			</h1>
			<h5 *ngIf="system">{{system?.hsu?.hsuName}}, {{system?.hsu?.hsuLocation}}</h5>
		</section>

		<section class="content">
			<quick-look (rssMonitorClicked)="showRssMonitor=true"></quick-look>
			<router-outlet></router-outlet>
		</section>
	</div>

</div>
<rss-monitor *ngIf="showRssMonitor" (rssMonitorClicked)="showRssMonitor=false"></rss-monitor>

<rad-modal></rad-modal>
