@import '../../assets/scss/_vars.scss';
.content-wrapper {
    max-width: 1280px;
    width: 90vw;
    margin: auto;
    padding-left: $side-bar-collapsed-width;
    height: 100%;
    .content {
      display: flex;
      flex-flow:column nowrap;
      height: 100%;
    }
}

/*
 * section: Main Header
 * ----------------------
 */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  display: block;
  box-shadow: 1px 1px 1px black;
    height: 67px;
    z-index: 1030;
    .navbar {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: margin-left 0.3s ease-in-out;
        margin-bottom: 0;
        border: none;
        min-height: 50px;
        border-radius: 0;
        .hamburger {
            position: relative;
            left: 5px;
                    }
        .main-logo {
            position: relative;
            display: block;
            width: 100%;
        }
        .custom-menu { 
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.main-header {
  #navbar-search-input.form-control {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
    &:focus, &:active {
      border-color: rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.9);
    }
    &::-moz-placeholder {
      color: #ccc;
      opacity: 1;
    }
    &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #ccc;
    }
  }
  .navbar-custom-menu, .navbar-right {
    float: right;
  }
  .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px;
    &:hover {
      color: #fff;
    }
    &:focus, &:active {
      background: transparent;
    }
    .icon-bar {
      display: none;
    }
  }
  .navbar .nav > li {
    &.user > a > {
      .fa, .glyphicon, .ion {
        margin-right: 5px;
      }
    }
    > a > .label {
      position: absolute;
      top: 9px;
      left: 7px;
      text-align: center;
      font-size: 9px;
      padding: 5px;
	    border-radius: 50%;
      line-height: .9;
    }
  }
  .logo {
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    .logo-lg {
      display: block;
    }
    .logo-mini {
      display: none;
    }
  }
  .navbar-brand {
    color: #fff;
  }
}

/* @media (max-width: 991px) {*/
/*   .main-header {*/
/*     .navbar-custom-menu a, .navbar-right a {*/
/*       color: inherit;*/
/*       background: transparent;*/
/*     }*/
/*   }*/
/* }*/

.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
  > {
    h1 {
      margin: 0;
      font-size: 24px;
      color: $h1-text-color;
      > small {
        font-size: 22px;
        display: inline-block;
        padding-left: 4px;
        font-weight: 400;
      }
    }
  }
}

.navbar-toggle {
  color: #fff;
  border: 0;
  margin: 0;
  padding: 15px 15px;
}

.sub-menu-icon {
    width:12px;
    height:12px;
    border-radius:50px;
    background:#81919e
}

/*
 * Component: Sidebar
 * ------------------
 */

.main-sidebar, .left-side {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 112px;
  height: 100%;
  z-index: 810;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.menu-collapse {
    width: $side-bar-collapsed-width;
} 
.sidebar-toggle {
    display: block;
}

.arrow-left{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #f4f4f4;; 
  position:absolute;
  right: 0;
  top: 0;
}

.side-bar-item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    color: #b8c7ce;
    .side-bar-title {
        margin-left: 20px;
    }
    img {
      width:22px;  
      display: block; 
    }
    .menu-title {
      display: flex;
      align-items: center;
    }
}
.sidebar {
  padding-bottom: 10px;
}

.sidebar-form input:focus {
  border-color: transparent;
}

.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  > {
    .image > img {
      width: 100%;
      max-width: 45px;
      height: auto;
    }
    .info {
      padding: 5px 5px 5px 15px;
      line-height: 1;
      position: absolute;
      left: 55px;
      > {
        p {
          font-weight: 600;
          margin-bottom: 9px;
        }
        a {
          text-decoration: none;
          padding-right: 5px;
          margin-top: 3px;
          font-size: 11px;
          > {
            .fa, .ion, .glyphicon {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover 
{
  background-color: white;
}
.sidebar-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
  top: -19px;
  width: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 20px;
  .treeview {
      .menu-title {
          color: white;
      }
  }
  .treeview:nth-child(2) {
      top: 9px;
  }
  .treeview:nth-child(3) {
      top: 10px;
      
  }
  > li {
    position: relative;
    margin: 20px 0 20px 0;
    > a {
      padding: 12px 5px 12px 15px;
      display: block;
      > {
        .fa, .glyphicon, .ion {
          width: 20px;
        }
      }
    }
    .label, .badge {
      margin-top: 3px;
      margin-right: 5px;
    }
  }
  li {
    &.header {
      padding: 10px 25px 10px 15px;
      font-size: 12px;
    }
    > a > .fa-angle-left {
      width: auto;
      height: auto;
      padding: 0;
      margin-right: 10px;
      margin-top: 3px;
    }
    &.active > {
      a > .fa-angle-left {
        transform: rotate(-90deg);
      }
      .treeview-menu {
        display: block;
      }
    }
  }
  .treeview-menu {
    list-style: none;
    background-color: #354045;
    padding: 0 0 0 25px;
    margin: 0px;
    width: 100%;
    margin-top: 10px;
    margin-left: -20px;
    width: $side-bar-opened-width;
    li {
        padding: 5px 0 5px 0;
    }
  }
  white-space: nowrap;
  overflow: hidden;
}
.menu-title {
    display: flex;
    flex-flow: row nowrap;
}
.main-sidebar .user-panel {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu {
  > li.header {
    white-space: nowrap;
    overflow: hidden;
  }
  &:hover {
    overflow: visible;
  }
}
.sidebar-form {
  overflow: hidden;
  text-overflow: clip;
}
.sidebar-menu {
  > li.header {
    overflow: hidden;
    text-overflow: clip;
  }
  li > a {
    position: relative;
    > .pull-right {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
    }
  }
}
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
  > {
    li > a {
      color: #777;
      > {
        .glyphicon, .fa, .ion {
          margin-right: 10px;
        }
      }
    }
    .divider {
      background-color: #eee;
    }
  }
}
.navbar-nav {
  top:0px;
}
.navbar-nav > {
  .notifications-menu > .dropdown-menu, .messages-menu > .dropdown-menu, .tasks-menu > .dropdown-menu {
    width: 467px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
  }
  .notifications-menu > .dropdown-menu > li, .messages-menu > .dropdown-menu > li, .tasks-menu > .dropdown-menu > li {
    position: relative;
  }
  .notifications-menu > .dropdown-menu > li.header, .messages-menu > .dropdown-menu > li.header, .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
  }
  .notifications-menu > .dropdown-menu > li.footer > a, .messages-menu > .dropdown-menu > li.footer > a, .tasks-menu > .dropdown-menu > li.footer > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center;
  }
  .notifications-menu > .dropdown-menu > li.footer > a:hover, .messages-menu > .dropdown-menu > li.footer > a:hover, .tasks-menu > .dropdown-menu > li.footer > a:hover {
    text-decoration: none;
    font-weight: normal;
  }
  .notifications-menu > .dropdown-menu > li .menu, .messages-menu > .dropdown-menu > li .menu, .tasks-menu > .dropdown-menu > li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
  }
  .notifications-menu > .dropdown-menu > li .menu > li > a, .messages-menu > .dropdown-menu > li .menu > li > a, .tasks-menu > .dropdown-menu > li .menu > li > a {
    display: block;
    white-space: nowrap;
    /* Prevent text from breaking */
    border-bottom: 1px solid #f4f4f4;
  }
  .notifications-menu > .dropdown-menu > li .menu > li > a:hover, .messages-menu > .dropdown-menu > li .menu > li > a:hover, .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
  }
  .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    > {
      .glyphicon, .fa, .ion {
        width: 20px;
      }
    }
  }
  .messages-menu > .dropdown-menu > li .menu > li > a {
    margin: 0;
    padding: 10px 10px;
    > {
      div > img {
        margin: auto 10px auto auto;
        width: 40px;
        height: 40px;
      }
      h4 {
        padding: 0;
        margin: 0 0 0 45px;
        color: #444444;
        font-size: 15px;
        position: relative;
        > small {
          color: #999999;
          font-size: 10px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      p {
        margin: 0 0 0 45px;
        font-size: 12px;
        color: #888888;
      }
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  .user-menu {
    > .dropdown-menu {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      padding: 1px 0 0 0;
      border-top-width: 0;
      width: 280px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      > {
        .user-body {
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        li.user-header {
          height: 175px;
          padding: 10px;
          text-align: center;
          > {
            img {
              z-index: 5;
              height: 90px;
              width: 90px;
              border: 3px solid;
              border-color: transparent;
              border-color: rgba(255, 255, 255, 0.2);
            }
            p {
              z-index: 5;
              color: #fff;
              color: rgba(255, 255, 255, 0.8);
              font-size: 17px;
              margin-top: 10px;
              > small {
                display: block;
                font-size: 12px;
              }
            }
          }
        }
        .user-body {
          padding: 15px;
          border-bottom: 1px solid #f4f4f4;
          border-top: 1px solid #dddddd;
          &:before {
            content: " ";
            display: table;
          }
          &:after {
            content: " ";
            display: table;
            clear: both;
          }
          a {
            color: #444 !important;
          }
        }
        .user-footer {
          background-color: #f9f9f9;
          padding: 10px;
          &:before {
            content: " ";
            display: table;
          }
          &:after {
            content: " ";
            display: table;
            clear: both;
          }
          .btn-default {
            color: #666666;
          }
        }
      }
    }
    .user-image {
      float: left;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: -2px;
    }
  }
}
.custom-menu > .navbar-nav > li {
  > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    margin-top: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  
  quick-look {
    height: 260px;
  }
  .wrapper {
    height: 100%;
    overflow: visible;
    position: relative;
  }
  .menu-collapse {
    width: 0;
    // display: none;
    section {
      ul {
        li {
          span {
            span {
              img {
                width: 0;
              }
            }
          }
        }
      }
    }
  }
  .content-wrapper {
    padding-left: 0;
    width: 100vw;
    height: 100%;
    justify-content: flex-start;
  }
  .content {
    height: 100%;
    justify-content: flex-start;
  }
  .content-header > h1 {
      font-size: 19px;
  }
  .main-header {
    .navbar {
      .hamburger {
        width: 40px;
        padding: 0;
        margin: 0 5px;
      }
    
      .custom-menu {
        height: 100%;
        width: 162px;
        justify-content: center;
        .nav {
          height: 100%;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          li {
              width: 60px;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                display: block;

              }
              .label {
                left: 12px;
                top: 10px;
              }
            }
          }
          .user-footer {
            width: 100%;
          }
          .notifications-menu {
            .dropdown-menu {
              position: fixed;
              top: 65px;
              left: 0;
              width:100vw;
              border: 10px solid #d8d8d8;
              background-color: white;
            }
          }
        }
      }
    }
  }
/*   .main-header {*/
/*     .navbar {*/
/*       .custom-menu {*/
/*         .nav {*/
/*           li {*/
/*             width:100%;*/
/*           }*/
}

