h3 {
    margin-left: 0;
}
.col-flex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.row-flex {
    width: 100%;
}
input-controls {
    position: relative;
    right: -50px;
}
.section-body {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}
.speed-test-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 49%;
    min-width: 505px;
}
.speedbox {
    width: 100%;
}
.box-header-ping, .box-header-trace {
}

.box-network {
    .gauges {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}
.ping-trace-container {
    width: 49%;
    /* min-height: 380px;*/
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.box-ping, .box-trace {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}
.form-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .ping-button {
        width: 40%;
        margin: 10px 0 10px 0;
    }
}
.inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width:100%; 
    input {
        width: 60%;
    }
    .input-label {
        display: block;
        width:130px;
    }
    .input-packet {
        width: 25%;
        min-width: 85px;
        .row-flex {
            width: 100%;
        }
    }
    .input-ip {
        min-width: 155px;
        width: 40%;
        input {
            width:100%;
        }
    }
    .ping-button {
        height: 33px;
        width: 100px;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
    }
}
.control-msgs {
    display: flex;
    flex-flow: row nowrap;
    color: #ef4023;
    /* height: 33px;*/
    margin-top: 5px;
}
.ping-msgs {
    p {
        &:after {
            content: '. \00a0';
        }
    }
}
.ping-container {
    display: flex;
    flex-flow: column nowrap;
            justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    /* max-height: 380px;*/
    min-height: 49%;
}
.box-results {
    background-color: #fbfbfb;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 210px;
    width: 100%;
    .box-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        .box-title {
            margin: 0;
            padding: 10px 0 0 10px ;
            border: none;
        }
    }
    pre {
        height: 100%;
        background-color: #fbfbfb;
        border: none;
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .no-btn {
        border: none;
        background: none;
        &:after {
            content: '\00a0 X';
            font-size: 20px;
            font-weight: bold;
           
       }
    }
}
@media (max-width: 1200px) {
    .section-body {
       flex-flow: column nowrap;
       height: 100%;
       justify-content: space-between;
    }
    .speed-test-container, .ping-trace-container {
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .ping-container {
        margin: 0 0 20px 0;
        padding: 0 0 0 0;
    }
}
