.network-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
}

.col-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.speedbox {
  width: 100%;
}

.box-header-ping, .box-header-trace {
  border-bottom: 1px solid silver;
  width: 100%;
}

.pingbox, .tracebox {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
}

.pingbox form, .tracebox form {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
}

.pingbox .box-results, .tracebox .box-results {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 80%;
}

.pingbox .box-results .box-header, .pingbox .box-results .box-body, .tracebox .box-results .box-header, .tracebox .box-results .box-body {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.pingbox .box-results .box-header h3, .pingbox .box-results .box-body h3, .tracebox .box-results .box-header h3, .tracebox .box-results .box-body h3 {
  margin: 0;
}

.box-network {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px 10px 5px 10px;
}

.box-network .row-flex {
  display: flex;
  flex-flow: row nowrap;
}

.box-network .gauges {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.box-gray {
  border-left: 4px solid #76828e;
}

.box-light-blue {
  border-left: 4px solid #8db5d3;
}

.box-green {
  border-left: 4px solid #72cd9a;
}

.box-orange {
  border-left: 4px solid #f47f6b;
}

canvas {
  width: 100px;
}
