.network-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	// align-items: flex-start;
	width: 100%;
}

.col-flex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
    // align-items: flex-end;
}
.speedbox {
    width: 100%;
}
.box-header-ping, .box-header-trace {
}
.pingbox, .tracebox {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    form { 
        width: 15%;
        display: flex;
        flex-flow: column nowrap;
    }
    .box-results {
        .box-header, .box-body {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            h3 {
                margin: 0;
            }
        }
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 80%;
    }
} 
.box-network {
    .row-flex {
        display: flex;
        flex-flow: row nowrap;
    }
    .gauges {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}

canvas {
    width: 100px;
}