		<div class="box-header">
			<h3 class="box-title">{{ title }}</h3>
			<button class="btn btn-file">Manual upload
				<input type="file" ng2FileSelect (change)="exLogAndUpload(uploader.queue[0])" *ngIf="uploader.queue.length==0" [uploader]="uploader" [disabled]="swuBrowseButtonState()" accept="{{fileType}}"/>
			</button>
		</div>
		<div class="box-body">
			
			<div class="body-text">
				<div *ngIf="isValidating"> 
					<i class="icon-spin6 animate-spin"></i>Validating...
				</div>
				<span> Type: {{ swuData?.type }} </span> 
				<span> Release: {{ swuData?.release }} </span>
				<span> Description: {{ swuData?.description }} </span>
				<span *ngIf="type == 'restore'"> Date: {{ swuData?.date}} </span>
			</div>
			<div *ngIf="isErrorOccurred">
				Error: {{ swuData.error.message }}
			</div>

						<span class="td-cell2x td-title">{{ item?.file?.name }}</span>
					<!--<div class="tr-flex" *ngFor="let item of uploader.queue">
						<button (click)="uploader.uploadItem(item)">
					</div>-->
			<!--<div class="table-flex">
							<div class="tr-flex-row">
								<span class="td-cell td-title">Name:</span>    
							</div>

							<div class="tr-flex-row">
								<span class="td-cell td-title">Size:</span>
								<span class="td-cell2x">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</span>
								<span class="td-cell td-title">Progress:</span>
								<div class="td-cell progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
							</div>-->
							
							<!--<div class="td-progress">-->
							<!--</div>-->
							<!--<div class="tr-flex-row">
									<span class="td-cell td-title">Actions:</span>
									<div class="td-cell2x"> 
										<button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
											Upload
										</button>
										<button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
											Cancel
										</button>
										<button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
											Remove
										</button>
									</div>
								<span class="td-cell td-title">Status:</span>
								<span *ngIf="item.isSuccess" class="td-cell"><i class="icon-ok"></i></span>
								<span *ngIf="item.isCancel" class="td-cell"><i class="icon-block"></i></span>
								<span *ngIf="item.isError" class="td-cell"><i class="icon-cancel"></i></span>
							</div>-->
			</div>
		<!--</div>-->
		<!--<div class="buttons">
			<button type="submit" (click)="validateSwu()" class="btn btn-default">VALIDATE</button>
			<button type="submit" (click)="startSwu()" class="btn btn-default" [disabled]="swuStartButtonState()">START</button>-->
			<!--<button type="submit" (click)="stopMonitor()" class="btn btn-default">Stop Monitor</button>-->
		<!--</div>-->