.sparkline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative
}
.box-device {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3px;
  background: #ffffff;
  padding: 0 5px;
  width: 100%;
//   min-width: 670px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  .system-box-title {
	font-size: 36px;
	padding-right: 5px;
  }
}
.box-lightBlue {
  border-left: 4px solid #8db5d3;
}
.box-orange {
  border-left: 4px solid #f47f6b
}
.device-monitor-title {
	display: flex;
	// padding:20px;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
	border-right: 1px solid #d8d8d8;
	font-size: 36px;
	padding: 0 5px;
	// height: 100%;
	// flex: 1;
	max-width: 20%;
}

.device-monitor-block {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	// flex: 4;
	width: 50%;
	&.border-right {
		border-right: 1px solid #d8d8d8;
	}
}
.monitor-block {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	flex: 1;
	align-items: center;
	padding: 0 5px 0 5px;
	div {
    	display: flex;
    	flex-flow: row nowrap;
		justify-content: center;
		text-align: end;
	}
	.monitor-graph {
		width: 70%;
		display: flex;
		padding-bottom: 6px;
	}
	.measure {
		width: 74px;
		// height: 100%;
		display: flex;
		flex-flow: column nowrap;
		text-align: end;
		justify-content: center;

	}
}
.border-bottom {
	border-bottom: 1px solid #d8d8d8;
}
.monitor-caption
{
	color: #76828e;
	font-size: 1em;
	font-weight: 400;
}

.monitor-caption-data
{
	color: #273238;
	font-size: 1em;
}

.device-row {
	display:flex;
	padding: 5px;
	min-height: 68px;
	&.border-bottom{
		border-bottom: 1px solid #d8d8d8;
	}
}
.monitor-graph {
	// height: 100%;
	margin: auto;
}

@media (max-width: 768px) {
	.box-device {
		padding: 5px 0;
		min-width: 0;
	}
	.monitor-block {
		min-width: 0;
		.monitor-graph {
			display: none;
		}
		.measure {
			width: 100%;
			text-align: center;
			padding: 4px 4px 8px 4px;
			div {
				-ms-grid-row-align: center;
				align-self: center;
			}
		}
	}
	.box-device {
		min-width: 0;
	}
	.device-monitor-title {
		font-size: 26px;
	}
	
}