@import './../blocks/input_controls/input_controls.scss';

.system-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
@media (max-width: 1050px) {
  .system-container {
    width: 600px;
    margin: auto;
  }
}
.system-monitors-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // height: 100%;
  .box-row {
    display: flex;
    flex-flow: row nowrap;
  }
  .box-header {
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    justify-content: flex-start;

    .system-box-title {
      font-size: 36px;
      align-self: center;
    }
    .system-box-details {
      font-size: 18px; 
      margin: 10px;
      align-self: flex-end;
      :nth-child(1):after {
        content: '|';
        color: #f58875;
        padding: 10px;
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
  .box-body {
    width: 100%;
    justify-content: space-between;
    padding: 0;
    >div {
      width: 50%;
      border: 1px solid #d8d8d8;
      flex-flow: column nowrap;
      padding: 5px 10px;
    }
  }
}
.box-system-config {
  align-self: center;
  width: 600px;
}
.box-system-monitor {
  width: 49%;
  min-width: 390px;
  display: flex; 
  padding: 0;
}
.box-system {
  // height: 100%;
  .system-box-title {
	  font-size: 36px;
  }
  &.collapsed-box {
    .box-body, .box-footer {
      display: none;
    }
  }
  .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &.height-control .box-body {
    max-height: 300px; 
    overflow: auto;
  }
  .border-right {
    border-right: 1px solid #f4f4f4;
  }
  .border-left {
    border-left: 1px solid #f4f4f4;
  }
  &.box-solid {
    border-top: 0;
    > .box-header {
      .btn {
        &.btn-default {
          background: transparent;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      a:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
    &.box-default {
      border: 1px solid #d2d6de;
      > .box-header {
        color: #444444;
        background: #d2d6de;
        background-color: #d2d6de;
        a, .btn {
          color: #444444;
        }
      }
    }
    &.box-primary {
      border: 1px solid #3c8dbc;
      > .box-header {
        color: #ffffff;
        background: #3c8dbc;
        background-color: #3c8dbc;
        a, .btn {
          color: #ffffff;
        }
      }
    }
    &.box-info {
      border: 1px solid #00c0ef;
      > .box-header {
        color: #ffffff;
        background: #00c0ef;
        background-color: #00c0ef;
        a, .btn {
          color: #ffffff;
        }
      }
    }
    &.box-vlan {
      border: 1px solid #00a65a;
      > .box-header {
        color: #ffffff;
        background: #00a65a;
        background-color: #00a65a;
        a, .btn {
          color: #ffffff;
        }
      }
    }
    > .box-header > .box-tools .btn {
      border: 0;
      box-shadow: none;
    }
    &[class*='bg'] > .box-header {
      color: #fff;
    }
  }
  .box-group > .box {
    margin-bottom: 5px;
  }
  .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
  > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  .row-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    input-controls {
      position: relative;
      right: -110px + $control-width;
    }
    .form-group {
      width: 48%;
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
.input-units {
    width: 0;
    position: relative;
    right: 65px + $control-width;
    align-self: center;
}
.info-box-label {
	font-size: 14px;
	color: #76828e;
}
.info-box-text {
	font-size: 22px;
}

.overlay-wrapper > .overlay, .box > .loading-img, .overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay, .overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.box .overlay > .fa, .overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark, .overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.box-header:after, .box-body:after, .box-footer:after {
  clear: both;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  &.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.box-header {
  > {
    .fa, .glyphicon, .ion {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 1;
    }
  }
  .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 2;
	  border-bottom: 1px solid #ececec;
    width: 100%;
    margin-left: 10px;
    
  }
  > {
    .fa, .glyphicon, .ion {
      margin-right: 5px;
    }
    .box-tools {
      position: absolute;
      right: 10px;
      top: 5px;
      [data-toggle="tooltip"] {
        position: relative;
      }
      &.pull-right .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.open .btn-box-tool {
  color: #606c84;
}

.btn-box-tool {
  &:hover {
    color: #606c84;
  }
  &.btn:active {
    box-shadow: none;
  }
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.box-body {
  > .table {
    margin-bottom: 0;
  }
  .fc {
    margin-top: 5px;
  }
  .full-width-chart {
    margin: -19px;
  }
  &.no-padding .full-width-chart {
    margin: -9px;
  }
  .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

.chart-legend {
  margin: 10px 0;
}

@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}

@media (max-width: 1050px) {
  .box-system-monitor {
    width: 100%;
  }
}

input[type="number"] {
  border-right: none;
}

@media (max-width: 768px) {
  .system-container, .box-system-config {
    width:100%;
  }
  .box-system-monitor {
    min-width: 0;
  }
  .info-box-text {
    font-size: 17px;
  }
  .box-system-monitor {
    .box-header {
      height: 50px;
      .system-box-title {
        font-size: 26px;
      }
      .system-box-details {
        font-size: 16px;
        display: flex;
        align-self: center;
        span {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  h3 {
    cursor: pointer;
		margin-top: 10px;
    font-size: 20px;
  }
}