<h3 class="section-title">System</h3>
<div class="system-monitors-container">
    <div class="box box-system-monitor box-green">
        <div class="box-row box-header">
            <div class="system-box-title">
                HSU
            </div>
            <div class="system-box-details">
                <span>{{system?.hsu?.hsuName}}</span> 
                <span>{{system?.hsu?.hsuLocation}}</span>
            </div>
        </div>
        <div class="box-row box-body">
            <div class="info-box-label">
                IP Address
                <div class="info-box-text sm">
                    {{network?.ipParams?.hsuIp}}
                </div>
            </div>
            <div class="info-box-label">
                Subnet Mask
                <div class="info-box-text sm">
                    {{network?.ipParams?.hsuSubnetMask}}
                </div>
            </div>
        </div>
        <div class="box-row box-body">
            <div class="info-box-label">
                Def. Gateway
                <div class="info-box-text sm">
                    {{network?.ipParams?.hsuDefaultGateway}}
                </div>
            </div>
            <div class="info-box-label">
                MAC Address
                <div class="info-box-text sm">
                    {{ system?.macAddress }}
                </div>
            </div>
        </div>
    </div>
    <div class="box box-system-monitor box-gray" *ngIf='isLinkSynchronized'>
        <div class="box-row box-header">
            <div class="system-box-title">
                HBS
            </div>
            <div class="system-box-details">
            <!--<div class="system-box-details" *ngIf='isLinkSynchronized'>-->
                <span *ngIf='isLinkSynchronized'>{{system?.hbs?.hbsName}}</span> 
                <span *ngIf='isLinkSynchronized'>{{system?.hbs?.hbsLocation}}</span>
            </div>
        </div>
        <div class="box-row box-body">
            <div class="info-box-label">
                IP Address
                <div class="info-box-text sm">
                <!--<div class="info-box-text sm" *ngIf='isLinkSynchronized'>-->
                    {{system?.hbs?.hbsIp | noneValuePipe }}
                </div>
            </div>
            <div class="info-box-label">
                Subnet Mask
                <div class="info-box-text sm">
                <!--<div class="info-box-text sm" *ngIf='isLinkSynchronized'>-->
                    {{system?.hbs?.hbsSubnetMask | noneValuePipe}}
                </div>
            </div>
        </div>
        <div class="box-row box-body">
            <div class="info-box-label">
                Def. Gateway
                <div class="info-box-text sm">
                    N/A
                </div>
            </div>
            <div class="info-box-label">
                MAC Address
                <div class="info-box-text sm">
                    N/A
                </div>
            </div>
        </div>
    </div>
</div>