.system-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.box {
  width: 50%;
}

.box-system {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-system .system-box-title {
  font-size: 36px;
}

.box-system.collapsed-box .box-body, .box-system.collapsed-box .box-footer {
  display: none;
}

.box-system .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}

.box-system .nav-stacked > li:last-of-type {
  border-bottom: none;
}

.box-system.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}

.box-system .border-right {
  border-right: 1px solid #f4f4f4;
}

.box-system .border-left {
  border-left: 1px solid #f4f4f4;
}

.box-system.box-solid {
  border-top: 0;
}

.box-system.box-solid > .box-header .btn.btn-default {
  background: transparent;
}

.box-system.box-solid > .box-header .btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.box-system.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.box-system.box-solid.box-default {
  border: 1px solid #d2d6de;
}

.box-system.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}

.box-system.box-solid.box-default > .box-header a, .box-system.box-solid.box-default > .box-header .btn {
  color: #444444;
}

.box-system.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}

.box-system.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}

.box-system.box-solid.box-primary > .box-header a, .box-system.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}

.box-system.box-solid.box-info {
  border: 1px solid #00c0ef;
}

.box-system.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}

.box-system.box-solid.box-info > .box-header a, .box-system.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}

.box-system.box-solid.box-vlan {
  border: 1px solid #00a65a;
}

.box-system.box-solid.box-vlan > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}

.box-system.box-solid.box-vlan > .box-header a, .box-system.box-solid.box-vlan > .box-header .btn {
  color: #ffffff;
}

.box-system.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}

.box-system.box-solid[class*='bg'] > .box-header {
  color: #fff;
}

.box-system .box-group > .box {
  margin-bottom: 5px;
}

.box-system .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}

.box-system > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-box-label {
  font-size: 14px;
  color: #76828e;
}

.info-box-text {
  font-size: 22px;
}

.box-light-blue {
  border-left: 4px solid #8db5d3;
}

.box-red {
  border-left: 4px solid #f47f6b;
}

.box-green {
  border-left: 4px solid #72cd9a;
}

.overlay-wrapper > .overlay, .box > .loading-img, .overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay, .overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.box .overlay > .fa, .overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark, .overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.box-header:after, .box-body:after, .box-footer:after {
  clear: both;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 2;
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin-left: 10px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion {
  margin-right: 5px;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}

.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.open .btn-box-tool {
  color: #606c84;
}

.btn-box-tool:hover {
  color: #606c84;
}

.btn-box-tool.btn:active {
  box-shadow: none;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.box-body > .table {
  margin-bottom: 0;
}

.box-body .fc {
  margin-top: 5px;
}

.box-body .full-width-chart {
  margin: -19px;
}

.box-body.no-padding .full-width-chart {
  margin: -9px;
}

.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

.chart-legend {
  margin: 10px 0;
}

@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
