<div class="system-container">
    <h3 class="section-title">System</h3>
        <div class="box box-system box-system-config box-light-blue">
            <form *ngIf="system" [formGroup]="form">
                <div class="box-body"> 
                    <div>
                        <fieldset>
                            <div class="form-group">
                                <span class="input-label">Name</span>
                                <input formControlName="hsuName" [(ngModel)]="system.hsu && system.hsu.hsuName" class="form-control" type="text" maxlength="30">
                                <div class="control-msgs" *ngIf="form.controls.hsuName.dirty && !form.controls.hsuName.valid">
                                    <p *ngIf="form.controls.hsuName.errors.required">Name is required.</p>
                                    <p *ngIf="form.controls.hsuName.errors.invalidChars">Bad chars: ,'%</p>
                                </div>
                            </div>
                            <div class="row-flex">
                                <div class="form-group">
                                    <span class="input-label">Location</span>
                                    <input formControlName="hsuLocation" [(ngModel)]="system.hsu && system.hsu.hsuLocation" class="form-control" type="text"
                                        maxlength="30">
                                    <div class="control-msgs" *ngIf="form.controls.hsuLocation.dirty && !form.controls.hsuLocation.valid">
                                        <p *ngIf="form.controls.hsuLocation.errors.required">Location is required.</p>
                                        <p *ngIf="form.controls.hsuLocation.errors.invalidChars">Bad chars: ,'%</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-label">Contact</span>
                                    <input formControlName="hsuContact" [(ngModel)]="system.hsu && system.hsu.hsuContact" class="form-control" type="text" maxlength="30">
                                    <div class="control-msgs" *ngIf="form.controls.hsuContact.dirty && !form.controls.hsuContact.valid">
                                        <p *ngIf="form.controls.hsuContact.errors.required">Contact is required.</p>
                                        <p *ngIf="form.controls.hsuContact.errors.invalidChars">Bad chars: ,'%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row-flex">
                                <div class="form-group">
                                    <span class="input-label">NTP Server</span>
                                    <input formControlName="ntpServer" [(ngModel)]="system.ntpServer" class="form-control" type="text">
                                    <div class="control-msgs" *ngIf="form.controls.ntpServer.dirty && !form.controls.ntpServer.valid">
                                        <p *ngIf="form.controls.ntpServer.errors.invalidNtpServer">NTP server is invalid.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-label">Offset </span>
                                    <span class="row-flex">
                                        <input formControlName="ntpTimeOffsetFromUTC" [(ngModel)]="system.ntpTimeOffsetFromUTC" class="form-control" type="number" min=-1439 max=1439>
                                        <input-controls [form]="form"></input-controls>
                                        <span class="input-units">[Minutes]</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row-flex">
                                    <div *ngIf="monitor.realTimeAndDate" class="form-group">
                                        Date & Time
                                        {{monitor.realTimeAndDate | date: 'medium'}}
                                    </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
</div>

<div class="buttons-footer">
    <button form="form" type="submit" (click)="save($event)" [disabled]="!form.valid || form.pristine" class="btn btn-primary">APPLY ALL</button>
    <button form="form" type="cancel" (click)="cancel($event)" class="btn btn-default">CANCEL</button>
</div>